

.wrapper {
	background-color: #eff0f5;
	#slider {
		background-color: #fff;
		padding: 10px 0;

	}
	.vm_Heading {
		position: relative;
		display: flex;
		padding: 15px 0;
		.title {
			font-size: 1.2rem;
			font-weight: 400;
			text-transform: uppercase;
			margin: 0 20px 0 0;
		}
	}
	.categories__flex {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-flow: wrap;
		.categories__item {
			width: 20%;
			padding: 10px;
			color: rgb(68, 68, 68);
			a {
				display: flex;
				flex-direction: column;
				-webkit-box-align: center;
				align-items: center;
				-webkit-box-pack: center;
				justify-content: center;
				height: 100%;
				padding: 16px;
				line-height: 20px;
				background-color: #fff;
				border-radius: 4px;
				&:hover {
					box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.14);
					transition: 0.3s linear;
				}
				.image {
					display: flex;
					-webkit-box-pack: center;
					justify-content: center;
					-webkit-box-align: center;
					align-items: center;
					width: 96px;
					height: 96px;
				}
				.categories__title {
					margin: 12px 0px 0px;
					font-size: $fontsize-13;
					text-transform: capitalize;
					text-align: center;
				}
			}
		}
	}
	
	.owl-nav {
		margin: 0!important;

		.owl-prev {
		    left: 0;
		    background: 0 0;
		    border: none;
		}
		.owl-next {
		    right: 0;
		    background: 0 0;
		    border: none;
		}
		button {
		    position: absolute;
		    color: #999!important;
		    top: 50%;
		    -webkit-transition: all .2s ease;
		    transition: all .2s ease;
		    outline: 0;
		    margin: -25px 10px 0!important;
		    z-index: 99999;
		    opacity: .5;
		    i {
		    	font-size: 50px;
		    	&:hover {
		    		color: #ed1b24;
		    	}
		    }
		    &:hover {
				background: transparent!important;
			}
		}
	} 
	.vm_component {
		background-color: #fff;
		padding: 15px;
		position: relative;
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
		}
		.p-sku {
			font-size: 12px;
			color: #656565;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		.p-img {
			padding: 10px;
			
		}
		.p-info {
			position: relative;
			padding-top: 10px;
			.p-name {
				display: block;
				color: #333;
				font-size: 13.5px;
				font-weight: 400;
				line-height: 18px;
				height: 38px;
				margin-bottom: 8px;
				margin-top: 0;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
			.p-mprice {
				height: 20px;
				color: #666;
				font-size: 15px;
				font-weight: 700;
				text-decoration: line-through;
				overflow: hidden;
			}
			.p-discount {
				font-size: 14px;
				color: #d82a29;
				height: 20px;
				overflow: hidden;
				margin-left: 5px;
			}
			.p-price {
				font-family: Arial,Helvetica,sans-serif;
				font-size: 16px;
				font-weight: normal;
				color: rgb(255, 52, 37);
				display: block;
			}
		}
		.p-action {
			display: inline-block;
			margin: 5px 0 0;
			width: 100%;
			.p-qty {
				color: #2cc067;
				font-size: 13px;
			}
			.p-buy {
				float: right;
				color: #333;
				margin-top: 2px;
			}
		}
	}	
}


.vm_heading_2 {
	position: relative;
	.vm_title_homepage {
		text-transform: uppercase;
	}
}

.top_categories {
	.card {
		border-radius: 0;
		border: 0;
		.title_cat {
			font-size: 1.3125rem;
			font-weight: 500;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
		}
		p {
			margin-bottom: 1rem;
		}
		.btn-outline-primary {
		    color: #4298b5;
		    border-color: #4298b5;
		    border-radius: 0;
		    &:hover {
		        color: #FFFFFF;
		        background-color: #4298b5;
		        border-color: #4298b5;
		    }
		    &:active {
		        color: #FFFFFF!important;
		        background-color: #4298b5!important;
		        border-color: #4298b5!important;
		    }
		}
	}
}
.vm_products {
	.d_category_filter_style {
		.d_category_lable {
			border-radius: 3px;
			font-weight: 600;
			padding: 0.3rem 0.9rem;
			background-color: white;
			color: #6c757d;
			border: 1px solid #dee2e6;
			&:hover {
				border: 1px solid #4298b5;
				background-color: #4298b5;
				color: white;
				box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
			}
		}
		.d_active {
			border: 1px solid #4298b5;
			background-color: #4298b5;
			color: white;
			box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
		}
	}
	.list_product {
		.d_product_box {
			position: relative;
			flex-grow: 1;
			display: -webkit-box;
			display: -webkit-flex;
			display: flex;
			flex-flow: column;
			justify-content: center;
			border-bottom: 1px solid #f5f5f5;
			.d_actions {
				position: absolute;
				top: 5px;
				left: auto;
				bottom: auto;
				right: 15px;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms--webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-webkit-flex-direction: column;
				flex-direction: column;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-webkit-flex-direction: column;
				flex-direction: column;
				-webkit-transition: all .3s ease;
				transition: all .3s ease;
				opacity: 0;
				-webkit-transform: translateX(20px) translateZ(0);
				transform: translateX(20px) translateZ(0);
				.d_action_btn_icon {
					margin-top: 5px;
					font-size: 18px;
					line-height: 18px;
					height: 45px;
					width: 45px;
					padding: 0;
				}
			}
			.d_img_block {
				img {
					height: 200px;
				}
			}
		}
		.d_description {
			.d_product_name {
				font-size: 0.9rem;
				font-weight: 700;
				line-height: 1.2;
				a {
					color: #343a40;
					transition: color 0.25s ease-in-out;
					text-decoration: none;
					&:hover {
						color: $color-orange;
					}
				}
			}
			.d_product_price {
				font-weight: normal!important;
				color: #ff3425;
				font-size: 15px;
				line-height: 22px;
			}
			.d_add_to_cart_btn {
				position: absolute;
				top: -30px;
				left: auto;
				bottom: auto;
				right: 10px;
				border-radius: 100%;
				padding: 0;
				font-size: 20px;
				line-height: 20px;
				height: 50px;
				width: 50px;
				transition: all .3s;
				&:hover {
					color: #FFFFFF;
					background-color: $color-link-hover;
				}
			}
			.btn-primary {
				color: #FFFFFF;
				background-color: #4298b5;
				border-color: transparent;
			}
		}
	}
}
.s_d_brand_snippet_wrapper {
	.tp_underline_title {
	    position: relative;
	    display: block;
	    margin-bottom: 1.2rem;
	    padding-bottom: 0.8rem;
	    border-bottom: 1px solid #e7e7e7;
	    &:after {
	    	position: absolute;
		    bottom: -2px;
		    left: 0;
		    width: 6rem;
		    height: 2px;
		    background-color: #4298b5;
		    content: '';
	    }
	}
	.s_d_brand_snippet {
		.dr-animation-scale {
		    overflow: hidden;
		    img  {
	    	    -webkit-transition: all .3s ease;
			    -o-transition: all .3s ease;
			    transition: all .3s ease;
			    height: 50px;
			    opacity: 0.5;
			    &:hover {
			    	transform: scale3d(1.05, 1.05, 1.05);
			    	opacity: 1;
			    }
			}
		}
	}
	.d_all_brands_btn {
	    position: absolute;
	    top: 0px;
	    left: auto;
	    bottom: auto;
	    right: 14px;
	    @include btn-outline-primary;
	}
}