/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */

@media all and (min-width: 991px) {
	#product_option_block {
		.o_add_wishlist_dyn {
			position: absolute;
			top: 15px;
			left: auto;
			bottom: auto;
			right: 15px;
			color: #f44336;
			background-color: #FFFFFF;
			padding: 0;
			height: 40px;
			width: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 50rem;
			border: none;
			box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
			margin: 0px !important;
			font-size: 14px;
			&:not(.disabled) {
				&:hover {
					.fa {
						&:before {
							content: '\f004';
						}
					}
				}
			}
		}
	}

}

@media all and (min-width: 768px) and (max-width: 991px) {
	.list-services .item {
	    width: 50%!important;
	}
}

@media all and (min-width: 480px) and (max-width: 768px) {
	.tp_hide_in_mobile {
		display: none;
	}
	.list-services .item {
	    width: 50%!important;
	}
}

@media all and (max-width: 480px) {
	.list-services .item {
	    width: 100%!important;
	}
}

.oxl,.olg,.omd,.osm,.oxs{} /* Onl on ...  - Chỉ có tác dụng trên ...*/
.exl,.elg,.emd,.esm,.exs{} /* Except on ... - Ngoại trừ ... */

@media (min-width: 1200px){
    .exl,.olg,.omd,.osm,.oxs{display: none}
}

@media (max-width: 1199.98px) and (min-width: 992px){
    .elg,.oxl,.omd,.osm,.oxs{display: none}
}

@media (max-width: 991.98px) and (min-width: 768px){
    .emd,.oxl,.olg,.osm,.oxs{display: none}
}

@media (max-width: 767.98px) and (min-width: 480px){
    .esm,.oxl,.olg,.omd,.oxs{display: none}
}

@media (max-width: 479.98px){
    .exs,.oxl,.olg,.omd,.osm{display: none}
}