$font-stack: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$primary-color: #666666;
$color-top-header-bar: #333333;
$color-orange: #ee3f4b;

$color-link-hover: #ff5561;
$fontsize-13: 0.8125rem;
$fontsize-14: 0.875rem;
