#vm_signup_login {
	background-color: #f0f0f0;
	padding-top: 50px;
    height: 100vh;
	.box {
		font-size: $fontsize-13;
		width: 410px;
		background-color: #fff;
		color: #757575;
		margin: auto;
		padding: 40px 0;
		box-shadow: -40px 40px 160px 0 rgba(0, 0, 0, 0.08), -8px 8px 15px 0 rgba(120, 120, 120, 0.04), 3px 3px 30px 0 rgba(0, 0, 0, 0.04) !important;
		.logo {
			text-align: center;
			margin: auto;
			img {
				height: 70px;
			}
		}
		h3 {
			text-align: center;
			font-size: 1.2rem;
			margin-top: 20px;
		}
		form {
			margin: 20px auto;
			.btn-primary {
				color: #FFF;
				background-color: #4298b5;
				border-color: #4298b5;
				border-radius: 0;
				&:hover {
					background-color: #388099;
					border-color: #347990;
				}
			}
			.small {
				font-size: $fontsize-13;
				text-align: center;
			}
		}
	}
}