
// REUSE

.vmax_btn{
    text-decoration: none;
    padding: 0.5em 0.75em;
    font-size: 1.2em;
    border-radius: 0.25em;
}
.vmax_btn--primary{
    background: $primary;
    color: #fff;
    &:hover{
        background: $primary-l;
        color: #fff
    }
}

// ABOUT US

.custom_body_background{
    background: #EFEFEF;
}
#page_aboutus
{
    background: #fff;
    padding: 2em;
    color: #000;
    h4{
        display: inline-block;
        font-size: 2em;
        padding: 0.5em 0.75em;
        border-radius: 1em 1em 0em 0em;
        color: #fff;
        background: $primary;
        margin: 0.5em 0em 1em 0em;
        @media (max-width: 991.98px){
            display: block;
            width: 100%;
            font-size: 1.6em
        }
    }
    .welcome{
        p{
            font-size: 1.3em;
            margin-bottom: 0.5em;
        }
        img{
            display: block;
            max-height: 30em;
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
        }
    }
    .achievements{
        h4{
            margin-bottom: 0em;
        }
        img{
            display: block;
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
        }
        ol{
            margin: 1em 0em;
            padding: 0em 1em;
            li{
                font-size: 1.3em;
            }
        }
    }
    .why_vmax{
        h4{
            margin-bottom: 0em;
        }
        .youtube {
            position:relative;
            padding-bottom:56.25%;
            padding-top:30px;
            height:0;
            overflow:hidden;
            margin-bottom: 1em;
        }
        
        .youtube iframe, .youtube object, .youtube embed {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
    }
    .benefits{
        margin-bottom: 1em;
        h4{
            margin-bottom: 0.5em;
        }
        p{
            font-size: 1.3em;
        }
        .col-6{
            margin-bottom: 0.5em;
        }
        .col-12{
            .container{
                margin-top: 1em;
                padding: 0.5em;
                border: 3px dashed #9F9F9F;
                .box{
                    padding: 0.5em;
                    color: #000;
                    h5{
                        color: $primary;
                        font-size: 1.5em;
                        margin-bottom: 0.5em
                    }
                    p{
                        font-size: 1.2em;
                        margin-bottom: 0.5em;
                    }
                }
            }
        }
    }
    .customer_said{
        q{
            font-size: 1.8em;
            font-style: italic;
            color: #9F9F9F;           
            @media (max-width: 767.98px){
                font-size: 1.4em;
            }
        }
        p{
            font-size: 1.3em;
            margin-bottom: 1em;
            font-weight: 600;
        }
    }
    .call2action{
        margin-bottom: 2em;
        h3{
            display: block;
            margin-bottom: 1em;
        }
    }
}

