$font-stack: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

/** --- THEME COLORS
-l : lighter
-d : heavier 
---------------- **/
$primary   : #D00000 ;
$primary-l : #ff0000 ; 
$second    : #11367F ;
$second-l  : #1040A0 ;
$second-d  : #002368 ;
$third     : #333333 ;
$third-d   : #232323 ;
$yellow    : #FFFC00 ;